<div class="container show-container page-top-margin">
  <%if Admin.current_user_admin?(current_admin) %>
    <div class="container">
      <div class="text-center" style="margin-bottom: 30px">
        <h1>Help</h1>
      </div>
      
      <!-- All resources -->
      <div class="container" style="text-align: justify;">
        <div class="container" style="margin-bottom: 15px">
          <h5>1. Admin Usage Suggestion</h5>
          <p>
            Due to the large amounts of columns of some of the tables in different tabs (namely "Events" and "Manage Users"), there is a good possibility that the text table will run off the screen on a mobile phone. As a result, it can prove a bit annoying if used in portait orientation. Therefore, we suggest that you use the <span style="font-style: italic;">landscape</span> orientation of your phone when you use those tabs. However, the normal user will have no such difficulties because they do not have access to the extra functionalities that you have.
          </p>
        </div>
        
        <div class="container" style="margin-bottom: 15px">
          <h5>2. Application Maintenance</h5>
          <a href="/maintenance_guide.pdf" target="_blank">
            <h6>Maintenance Guide PDF</h6>
          </a>
          <span style="font-style: italic;">
            <p>
              *Note: This documentation was written to help provide information on how to maintain the application. It includes the things you should look out for as an administrator of the app and the basics of the platform used to host this app (Heroku).
            </p>
          </span>
        </div>
      </div>
    </div>
  <% else %>
    <h1 style="color: #ff0000">
      PERMISSION DENIED
    </h1>
    <h2>You do not have the permission to acess this page!</h2>
  <% end %>
</div>
