<div class="container">
    <div class="container page-top-margin">
        <%= render 'back'%>
    </div>
    <div class="container center-text">
        <h1> New Permission_User Record Failed!</h1>
    </div>
</div>