<%if Admin.current_user_admin?(current_admin) %>
  <div class="container">
    <div class="container page-top-margin">
      <%= render 'back'%>
    </div>
    <div class="container center-text">
      <h1>New Event</h1>
    </div>
    <div class="d-flex form-bottom-padding" style="justify-content: center">
      <%= render 'form', event: @event %>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
    <h1>You are not an admin! Better luck next time!</h1>
  </div>
<% end %>