<%if Admin.current_user_admin?(current_admin) %>
  <div class="container show-container">
    <div class="container page-top-margin">
      <%= render 'back'%>
    </div>
    <div class="container text-center">
      <h1>New Event</h1>
    </div>
    <div class="container form-bottom-padding justify-content-center">
      <%= render 'form', event: @event %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/permission_denied'%>
<% end %>