<div class="d-flex justify-content-center flex-column align-items-center login-page" style="height: 80%">
    <div class="container text-center">
        <h1>Welcome to the Table Tennis Opponent Tracker</h1>
    </div>
    <br/>
    <div>
        <%= button_to "Get Started!", admin_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary'%>
    <div>
</div>