<div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
    <h2>Welcome to the Table Tennis Opponent Tracker</h2>
    <div>
        <%= button_to "Get Started!", admin_google_oauth2_omniauth_authorize_path, class: 'btn btn-secondary'%>
    <div>
</div>