<div class="container">
    <div>
        <%= link_to 'Back', players_path, class: 'btn btn-secondary' %>
    </div> 
    <center>
        <h1>New Player</h1>
    </center>
    <div>
        <%= render 'form', player: @player %>
    </div>
</div>
