// @import "bootstrap";
// @import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.navbar {
    margin-bottom: 20;
    background: #800000;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: white;
    color: black;
    font-family: 'Merriweather', sans-serif;
}

.page-top-margin {
    margin-top: 10px;
}

h1,
h2 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: black;
}
a:visited {
    color: black;
}
.jumbotron {
    background: #0048CD;
    color: white;
    text-align: center;
    p {
            color: white;
            font-size: 26px;
    }
}
.link {
    color: white;
}
.btn-primary {
    color: white;
    border-color: white;
    margin-bottom: 5px;
}
.btn-sm {
    background-color: white;
    display: inline-block;
}
img,
video,
audio {
    margin-top: 20px;
    max-width: 80%;
}
caption {

    float: left;
    clear: both;

}

.flex-header {
    display: flex;
}

.center-text {
    text-align: center;
}

.back-button {
    text-decoration: none;
}

.table-font {
    font-size: large;
}

.search {
    margin-right: 0.5rem;
}

.center-vert-hor {
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.cell-pad {
    padding-left: 16px;
    padding-right: 16px;
}

.edit {
    margin-right: 0.2rem;
    margin-left: 0.05rem;
}

.delete {
    margin-left: 0.2rem;
    margin-right: 0.05rem;
}