<% if current_admin.admin?%>
  <div class="d-flex flex-column" style="height: 100%">
    <div class="container page-top-margin">
      <%= render 'back'%>
    </div>
    <div class="container center-text">
      <h1>
        Update Image
      </h1>
    </div>
    <div class="d-flex form-bottom-padding" style="justify-content: center">
      <br/>
      <%= render 'form', image: @image %>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center flex-column align-items-center" style="height: 100%">
      <h1>You are not an admin! Better luck next time!</h1>
  </div>
<% end %>