<% if Admin.current_user_admin?(current_admin) %>
  <div class="container show-container">
    <div class="container page-top-margin">
      <%= render 'back'%>
    </div>
    <div class="container text-center">
      <h1>
        New Image
      </h1>
    </div>
    <div class="d-flex form-bottom-padding justify-content-center">
      <br/>
      <%= render 'form', image: @image %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/permission_denied'%>
<% end %>
