<div class="navbar">
    <div class="navbar-right">
        <% if current_admin != nil%>
        <div class="dropdown">
                <button class="dropbtn">
                    <%= image_tag current_admin.avatar_url, class: "avatar" %> 
                </button>
                <div class="dropdown-content">
                    <%= link_to "Sign Out", destroy_admin_session_path %>
                </div> 
            </div>
        <% else %>
        <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path %>
        <% end %>
    </div>
</div>