<nav class="navbar navbar-expand-lg">
        
    <a class="navbar-brand" href="#">Logo Goes Here</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" >
        <span class="navbar-toggler-icon"></span>
    </button>

    <% if current_admin != nil %>
        <div class="collapse navbar-collapse" id="navbar-list-4">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                        <img src="<%= current_admin.avatar_url%>" width="52" height="52" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu">
                        <%= link_to "Sign Out", destroy_admin_session_path,  class: "dropdown-item"%>
                    </div>
                </li>   
            </ul>
        </div>
    <% end %>
</nav>