<div class="d-flex justify-content-center flex-column align-items-center text-center" style="height: 100%">
	<h1 style="color: #ff0000">
		PERMISSION DENIED
	</h1>
	<h2>You do not have the permission to acess this page!</h2>
</div>